@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inconsolata:wght@200;300&family=Play&family=Questrial&family=Quicksand:wght@300;400&family=Recursive:wght@300;400;900&family=Teko:wght@300;400;700&display=swap');
 
 
 .container-exercise-img-div  {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
  } 

.container-exercise-img-div {
    display: flex;
    align-items: center;
}

.container-exercise-img-div p{
    width: 400px;
}

/* .container-exercise img {
    width: 400px;
    height: 400px;
    object-fit: cover;

}  */
.exercise {
  height: 200vh;
  width: 100%;
  background: linear-gradient(0.25turn, #f9f9f981, #ebf8e181, #203e5055);
}

.exercise .content {
  margin-top: 80px;

}

.exercise video {
  border-radius: 10px;
  width: 600px;
  cursor: pointer;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exercise-text {
  font-family: 'Play', sans-serif;
  font-size: 20PX;
  display: none;
}

.select-menu {
  width: 100%;
  height: 40vh;
  border: 10%;
  
}



.exercise-header {
  font-family: 'Play', sans-serif;
  width: 80vh;
  position:relative;
  left: 70px;
}

.exercise-header h2 {
  font-size: 60px;
  font-weight: 900;
}



/* Responsive layout - makes a one column layout instead of a two-column layout */
@media only screen and (max-width: 768px) {

  .exercise {
    height: 360vh;
    width: 100%;
    background: linear-gradient(0.25turn, #f9f9f981, #ebf8e181, #203e5055);
  }

  .exercise-header {
    font-family: 'Play', sans-serif;
    width: auto;
    left: 0px;
  }

  .exercise-container {
    display: grid;
  }

  .exercise-header h2 {
    font-size: 30px;
  }
  .exercise video {
    border-radius: 10px;
    width: 300px;
  }
  .exercise-text {
    font-size: 20PX;
    display:block;
}